--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4
-- Dumped by pg_dump version 17.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: enum_Recipes_difficulty_level; Type: TYPE; Schema: public; Owner: recipe_user
--

CREATE TYPE public."enum_Recipes_difficulty_level" AS ENUM (
    'easy',
    'moderate',
    'hard'
);


ALTER TYPE public."enum_Recipes_difficulty_level" OWNER TO recipe_user;

--
-- Name: enum_Recipes_recipe_category; Type: TYPE; Schema: public; Owner: recipe_user
--

CREATE TYPE public."enum_Recipes_recipe_category" AS ENUM (
    'breakfast',
    'lunch',
    'dinner'
);


ALTER TYPE public."enum_Recipes_recipe_category" OWNER TO recipe_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: DeviceInfo; Type: TABLE; Schema: public; Owner: recipe_user
--

CREATE TABLE public."DeviceInfo" (
    id integer NOT NULL,
    user_id character varying(255),
    device_type character varying(255),
    device_token character varying(255),
    uuid character varying(255),
    device_name character varying(255),
    ip character varying(255),
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."DeviceInfo" OWNER TO recipe_user;

--
-- Name: DeviceInfo_id_seq; Type: SEQUENCE; Schema: public; Owner: recipe_user
--

CREATE SEQUENCE public."DeviceInfo_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."DeviceInfo_id_seq" OWNER TO recipe_user;

--
-- Name: DeviceInfo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipe_user
--

ALTER SEQUENCE public."DeviceInfo_id_seq" OWNED BY public."DeviceInfo".id;


--
-- Name: DeviceInfos; Type: TABLE; Schema: public; Owner: recipe_user
--

CREATE TABLE public."DeviceInfos" (
    id integer NOT NULL,
    user_id character varying(255),
    device_type character varying(255),
    device_token character varying(255),
    uuid character varying(255),
    device_name character varying(255),
    ip character varying(255),
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."DeviceInfos" OWNER TO recipe_user;

--
-- Name: DeviceInfos_id_seq; Type: SEQUENCE; Schema: public; Owner: recipe_user
--

CREATE SEQUENCE public."DeviceInfos_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."DeviceInfos_id_seq" OWNER TO recipe_user;

--
-- Name: DeviceInfos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipe_user
--

ALTER SEQUENCE public."DeviceInfos_id_seq" OWNED BY public."DeviceInfos".id;


--
-- Name: Recipes; Type: TABLE; Schema: public; Owner: recipe_user
--

CREATE TABLE public."Recipes" (
    id integer NOT NULL,
    recipe_name character varying(255),
    recipe_category public."enum_Recipes_recipe_category",
    cooking_time character varying(255),
    photo character varying(255),
    ingredients character varying(255)[],
    cooking_instructions character varying(255),
    difficulty_level public."enum_Recipes_difficulty_level",
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL,
    user_id character varying(255)
);


ALTER TABLE public."Recipes" OWNER TO recipe_user;

--
-- Name: Recipes_id_seq; Type: SEQUENCE; Schema: public; Owner: recipe_user
--

CREATE SEQUENCE public."Recipes_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Recipes_id_seq" OWNER TO recipe_user;

--
-- Name: Recipes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipe_user
--

ALTER SEQUENCE public."Recipes_id_seq" OWNED BY public."Recipes".id;


--
-- Name: SequelizeMeta; Type: TABLE; Schema: public; Owner: recipe_user
--

CREATE TABLE public."SequelizeMeta" (
    name character varying(255) NOT NULL
);


ALTER TABLE public."SequelizeMeta" OWNER TO recipe_user;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: recipe_user
--

CREATE TABLE public."Users" (
    id integer NOT NULL,
    username character varying(255),
    email character varying(255),
    password character varying(255),
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Users" OWNER TO recipe_user;

--
-- Name: Users_id_seq; Type: SEQUENCE; Schema: public; Owner: recipe_user
--

CREATE SEQUENCE public."Users_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Users_id_seq" OWNER TO recipe_user;

--
-- Name: Users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: recipe_user
--

ALTER SEQUENCE public."Users_id_seq" OWNED BY public."Users".id;


--
-- Name: DeviceInfo id; Type: DEFAULT; Schema: public; Owner: recipe_user
--

ALTER TABLE ONLY public."DeviceInfo" ALTER COLUMN id SET DEFAULT nextval('public."DeviceInfo_id_seq"'::regclass);


--
-- Name: DeviceInfos id; Type: DEFAULT; Schema: public; Owner: recipe_user
--

ALTER TABLE ONLY public."DeviceInfos" ALTER COLUMN id SET DEFAULT nextval('public."DeviceInfos_id_seq"'::regclass);


--
-- Name: Recipes id; Type: DEFAULT; Schema: public; Owner: recipe_user
--

ALTER TABLE ONLY public."Recipes" ALTER COLUMN id SET DEFAULT nextval('public."Recipes_id_seq"'::regclass);


--
-- Name: Users id; Type: DEFAULT; Schema: public; Owner: recipe_user
--

ALTER TABLE ONLY public."Users" ALTER COLUMN id SET DEFAULT nextval('public."Users_id_seq"'::regclass);


--
-- Data for Name: DeviceInfo; Type: TABLE DATA; Schema: public; Owner: recipe_user
--



--
-- Data for Name: DeviceInfos; Type: TABLE DATA; Schema: public; Owner: recipe_user
--

COPY public."DeviceInfos" (id, user_id, device_type, device_token, uuid, device_name, ip, "createdAt", "updatedAt") FROM stdin;
1	1	\N	eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoiMSIsImlhdCI6MTc2NDU3ODY1MiwiZXhwIjoxNzY1MTgzNDUyfQ.gKyGO_6wX8SdXmYoXKS5zPhA2pMJ0bHcxfurSPhOQE8	123456789	Vivo v19	\N	2025-12-01 14:14:12.802+05:30	2025-12-01 14:14:12.802+05:30
\.


--
-- Data for Name: Recipes; Type: TABLE DATA; Schema: public; Owner: recipe_user
--

COPY public."Recipes" (id, recipe_name, recipe_category, cooking_time, photo, ingredients, cooking_instructions, difficulty_level, "createdAt", "updatedAt", user_id) FROM stdin;
1	Dahi Vada	breakfast	30m	\N	{"urad dal","mung dal","dahi (yogurt)"}	\N	easy	2025-12-01 15:54:20.594+05:30	2025-12-01 15:54:20.594+05:30	1
\.


--
-- Data for Name: SequelizeMeta; Type: TABLE DATA; Schema: public; Owner: recipe_user
--

COPY public."SequelizeMeta" (name) FROM stdin;
\.


--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: recipe_user
--

COPY public."Users" (id, username, email, password, "createdAt", "updatedAt") FROM stdin;
1	Prashant	prashant@example.com	$2b$10$LQiqkfLFV.47cSDLd2oG2eR0F/fR6bvjhgRHwpbn6nGwkNTRmk/9W	2025-12-01 14:01:23.426+05:30	2025-12-01 14:01:23.426+05:30
3	prashant	dhruv@example.com	$2b$10$Ry5JB22iT.vtaF7RSMtS8uSS06l6q2.LsG6g/R5Zxy6sck8rDPuDi	2025-12-01 14:54:38.877+05:30	2025-12-01 14:54:38.877+05:30
\.


--
-- Name: DeviceInfo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipe_user
--

SELECT pg_catalog.setval('public."DeviceInfo_id_seq"', 5, true);


--
-- Name: DeviceInfos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipe_user
--

SELECT pg_catalog.setval('public."DeviceInfos_id_seq"', 1, true);


--
-- Name: Recipes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipe_user
--

SELECT pg_catalog.setval('public."Recipes_id_seq"', 1, true);


--
-- Name: Users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: recipe_user
--

SELECT pg_catalog.setval('public."Users_id_seq"', 3, true);


--
-- Name: DeviceInfo DeviceInfo_pkey; Type: CONSTRAINT; Schema: public; Owner: recipe_user
--

ALTER TABLE ONLY public."DeviceInfo"
    ADD CONSTRAINT "DeviceInfo_pkey" PRIMARY KEY (id);


--
-- Name: DeviceInfos DeviceInfos_pkey; Type: CONSTRAINT; Schema: public; Owner: recipe_user
--

ALTER TABLE ONLY public."DeviceInfos"
    ADD CONSTRAINT "DeviceInfos_pkey" PRIMARY KEY (id);


--
-- Name: Recipes Recipes_pkey; Type: CONSTRAINT; Schema: public; Owner: recipe_user
--

ALTER TABLE ONLY public."Recipes"
    ADD CONSTRAINT "Recipes_pkey" PRIMARY KEY (id);


--
-- Name: SequelizeMeta SequelizeMeta_pkey; Type: CONSTRAINT; Schema: public; Owner: recipe_user
--

ALTER TABLE ONLY public."SequelizeMeta"
    ADD CONSTRAINT "SequelizeMeta_pkey" PRIMARY KEY (name);


--
-- Name: Users Users_pkey; Type: CONSTRAINT; Schema: public; Owner: recipe_user
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "Users_pkey" PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

